.card{
  height: 321px;
  width: 488px;
  background-repeat: no-repeat;
  background-image: url(https://velocity-files-origin.ebay.com/1add8ee4-0d32-4372-9bd6-2ebd45a90490.png);
}
.bigDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 187px;
}
.input{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 137px;
}
.id{
  position: absolute;
    padding-top: 172px;
    padding-left: 33px;
    font-size: large;
    color: white;
}
.date{
    position: absolute;
    padding-top: 225px;
    padding-left: 305px;
    font-size: large;
    color: white;

  }
.name{
  position: absolute;
    padding-top:245px;
    padding-left: 33px;
    font-size: large;
    color: white;
}